.banner {
  max-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 4rem;
}

.banner video {
  filter: grayscale(1);
  width: 100%;
}

.title {
  margin-bottom: 2rem;

}

.text {

}