.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .75rem -.25rem -.25rem -.25rem;
  max-width: 600px;
}

.formRow {
  flex: 1;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input, .message {
  max-width: 100%;
  flex: 1;
  background-color: var(--dark-grey);
  border: 2px solid var(--grey);
  color: var(--off-white);
  margin: .25rem;
  padding: .5rem;
  font-family: 'Gopher Text';
  font-weight: 400;
  font-size: 1rem;
}

.message {
  resize: none;
  min-height: 10rem;
  overflow-y: auto;
}

.input::placeholder, .message::placeholder {
  color: var(--light-grey);
}

.input:focus, .message:focus {
  outline: none;
  border-color: var(--primary);
  background-color: var(--grey);
}

.submit {
  margin: .25rem;
  background-color: var(--primary);
  border: none;
  padding: .5rem;
  color: var(--grey);
  font-family: 'Monument';
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
  transition-duration: .6s;
}

.submit:hover {
  letter-spacing: .15rem;
  padding-left: 2rem;
}

.submit h1 {
  margin: 0 !important;
}

.sent {
  background-color: var(--off-white);
}

.sent:hover {
  letter-spacing: unset;
  padding-left: .5rem;
}

.socials {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 4rem 2rem 0;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
}

.socialLink {
  font-family: 'Monument';
  font-weight: normal;
  text-decoration: none;
  color: var(--secondary);
  margin-right: 1rem;
  transition-duration: .3s;
}

.socialLink:hover {
  text-decoration: underline;
  color: var(--primary);
}

.email {
  margin: 1rem 0 2rem 0;
  display: inline-block;
}