.page {
  /* background-image: url('../assets/images/grid.svg') */

}

.pageSpinner {
  margin: 100px auto;
}

.projectCard {
  margin: 0 1rem 6rem 1rem;
  /* width: 100%; */
  padding: 1rem;
  background-color: var(--medium-grey);
  max-width: 100%;
  position: relative;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  
}

.cardMediaWrapper {
  width: 100%;
}

.cardMediaWrapper video {
  max-width: 100%;
  width: 100%;
}

.cardMediaWrapper video:focus {
  outline: none;
}

.cardMediaWrapper audio {
  /* min-height: 4rem; */
  width: 100%;
  color: var(--primary);
}

.projectCard:hover .title {
  color: var(--primary);
}

.title {
  font-family: 'Monument';
  font-weight: bold;
  color: var(--off-white);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  transition: .3s color;
}

.projectCard p {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.waveContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2.5rem;
}

.wave {
  width: 100%;
}

.playBtn {
  padding: 1rem;
  border-radius: 4rem;
  border: none;
  background-color: var(--primary);
  position: absolute;
  bottom: -2.5rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.audioIcon {
  height: 3rem;
  width: 3rem;
}

.spinnerWrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3.5rem;
}