.page {
  /* background-image: url('../assets/images/grid.svg') */

}

.card {
  display: block;
  position: relative;
  min-height: 15rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
  min-width: ;idth: 50vw;
  max-width: 40rem;
}

.cardThumbContainer {
  overflow: hidden;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.expanded .cardThumbContainer {
  height: unset;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.expanded .cardThumbContainer {
  cursor: zoom-out;
}

.cardThumb {
  object-fit: contain;
  width: 100%;
  filter: invert(1) grayscale(1);
  transition-duration: .3s;
  cursor: zoom-in;
}

.cardThumb:hover {
  filter: invert(0) grayscale(1);
}

.expanded .cardThumb {
  cursor: zoom-out;
}

.cardTextContainer {
  background-color: var(--grey);
  padding-top: 1rem;
  min-height: 9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cardTextContainer p , .cardTextContainer h2 {
  margin: 0 1rem .5rem 1rem;
}

.cardTextContainer a {
  margin-top: 1.5rem;
  height: 3rem;
}

.cardExpandBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.cardExpandBtn:focus {
  outline: none;
}

.cardExpandBtn img {
  /* transition-duration: .3s; */
  transform-origin: center;
}

.expanded .cardExpandBtn img {
  transform: rotateX(180deg);
}

.projectCard {
  margin: 0 1rem 4rem 1rem;
  /* width: 100%; */
  padding: 1rem;
  background-color: var(--medium-grey);
  max-width: 100%;
  position: relative;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

}

.cardMediaWrapper {
  width: 100%;
}

.cardMediaWrapper video {
  max-width: 100%;
  width: 100%;
}

.cardMediaWrapper audio {
  /* min-height: 4rem; */
  width: 100%;
  color: var(--primary);
}

.projectCard:hover .title {
  color: var(--primary);
}

.title {
  font-family: 'Monument';
  font-weight: bold;
  color: var(--off-white);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  transition: .3s color;
}

.projectCard p {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.waveContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2.5rem;
}

.wave {
  width: 100%;
}

.playBtn {
  padding: 1rem;
  border-radius: 4rem;
  border: none;
  background-color: var(--primary);
  position: absolute;
  bottom: -2.5rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.audioIcon {
  height: 3rem;
  width: 3rem;
}

.spinnerWrapper {
  height: 128px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3.5rem;
}