.sideNav {
  height: 100%;
  grid-column: 1 / 2;
  padding-right: 1rem;
}

.topNavWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.topNavWrapper > * {
  margin-right: 1rem;
}

.topNavWrapper .pageTitle {
  color: var(--primary);
}

.title {
  font-family: 'Monument';
  font-weight: bold;
  font-size: 14vh;
  text-decoration: none;
  color: var(--off-white);
  text-orientation: mixed;
  writing-mode: vertical-lr;
  line-height: 10vh;

}

.titleLetter {
  transition: .3s color;
}

.titleLetter:hover {
  color: var(--white);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.nav .navLink {
  margin-top: .5rem;
}

.navLink {
  font-family: 'Monument';
  font-weight: normal;
  color: var(--grey);
  text-decoration: none;
  font-size: 1rem;
  transition: .3s color;
  display: inline-block;
}

.navLink:hover {
  color: var(--off-white);
  transition-duration: .6s;
}

.pageTitle {
  font-family: 'Monument';
  font-weight: bold;
  font-size: 1.8rem;
  transition-duration: .6s;
}

.text {
  font-family: 'Gopher Normal';
  font-weight: 500;
  font-size: 1rem;
}

.pageTitle:hover {
  letter-spacing: .3rem;
}

.pickerWrapper {
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.showPicker {
  font-family: 'Monument';
  font-weight: normal;
  color: var(--grey);
  background: none;
  border: none;
  margin-top: .5rem;
  transition-duration: .3s;
}

.showPicker:focus {
  outline: none;
}

.showPicker:hover {
  color: var(--primary);
}