.sideNav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
  min-width: inherit;
}

.topNavWrapper {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  height: 5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: linear-gradient(to bottom, var(--dark-grey), transparent);
  z-index: 10;
}

.topNavWrapper > * {
  margin-right: 1rem;
}

.topNavWrapper .pageTitle {
  color: var(--primary);
}

.topNavWrapper > .pageTitle:hover {
  /* letter-spacing: .3rem; */
}

.topNavWrapper > .navLink:hover {
  letter-spacing: .2rem;
}

.title {
  font-family: 'Monument';
  font-weight: bold;
  font-size: 13.5vh;
  color: var(--off-white);
  text-decoration: none;
  text-align: left;
  vertical-align: top;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  line-height: 10vh;
  transition-duration: .3s;
}

.titleLetter {
  transition: .3s color;
}

.titleLetter:hover {
  color: var(--primary);
  animation-name: spincursor;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.nav .navLink {
  margin-top: .5rem;
}

.navLink {
  font-family: 'Monument';
  font-weight: normal;
  color: var(--medium-grey);
  text-decoration: none;
  font-size: 1rem;
  transition-duration: .6s;
  display: inline-block;
}

.navLink:hover {
  color: var(--off-white);
  transition-duration: .6s;
}

.pageTitle {
  font-family: 'Monument';
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
  transition-duration: .6s;
}

.text {
  font-family: 'Gopher Normal';
  font-weight: 500;
  font-size: 1rem;
}

.pickerWrapper {
  position: fixed;
  bottom: .5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 5;
}

.showPicker {
  font-family: 'Monument';
  font-weight: normal;
  color: var(--grey);
  background: none;
  border: none;
  margin-top: .5rem;
  transition-duration: .3s;
}

.showPicker:focus {
  outline: none;
}

.showPicker:hover {
  color: var(--primary);
}

.scrollIndicator {
  position: fixed;
  bottom: .5rem;
  left: 1rem;
  z-index: 30;
}



@keyframes spincursor {
  0% {
    cursor: nwse-resize;
  }

  25% {
    cursor: ns-resize;
  }

  50% {
    cursor: nesw-resize;
  }

  75% {
    cursor: ew-resize;
  }

  100% {
    cursor: nwse-resize;
  }
}

/* iphone 5 */
@media screen and (width: 320px) {
  .title {
    font-size: 80px;
    line-height: auto;
  }
}